/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
$font-stack: 'gentona-light', Arial, sans-serif;
$font-header: 'quadon', Arial, sans-serif;
$font-subhead: 'gentona-book', Arial, sans-serif;

body {
  font-family: $font-stack;
  font-weight: 300;
  font-style: normal;
  font-size: $global-font-size * 1.1
}

h1, h2 {
  font-family: $font-header;
  font-weight: 400;
  font-style: normal;
}


h3, h4, h5, h6, .semibold {
  font-family: $font-subhead;
  font-weight: 400;
  font-style: normal;
}

.iconfont {
	font-family:'flagship-icon';
}

li.external a::after {
	content:"\e007";
	font-family:'flagship-icon';
	font-style:normal;
	speak:none;
	font-weight:400;
	line-height:normal;
	color:#FFF;
	-webkit-font-smoothing:antialiased;
	float:none;
	display:inline;
	font-size:85%;
	padding-left:4px;
}

ul.nav {
  list-style: none;
  li {
    padding: 10px 0 8px 0px;
    font-size: 1rem;
    ul li {
      border-top: none;
      font-size: .9rem;
      padding: 5px 0 0px 5px;
      text-indent: -15px;
      margin-left: 15px;
      &:before {
        content: "\e010";
        font-family: 'flagship-icon';
        color: #999;
        margin-right: 5px;
        vertical-align: middle;
        font-size: 75%;
      }
    }
  }
}

.icon-arrow-right-2:before {
	content:"\e010";
}


[data-icon]:before {
	font-family:'flagship-icon';
	content:attr(data-icon);
	speak:none;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before,[class*=" icon-"]:before,a[href*=".ppt"]:before,a[href*=".pptx"]:before,a[href*=".zip"]:before,a[href*=".xls"]:before,a[href*=".xlsx"]:before,a[href*=".doc"]:before,a[href*=".docx"]:before,a[href*=".pdf"]:before {
	font-family:'flagship-icon';
	font-style:normal;
	speak:none;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	margin-right:3px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a.skipLink {
  position: absolute;
  left: -9999px;
  background: $white;
  padding: 5px 10px;
  &:focus, &:active, &:hover {
    left: 0;
  }
}

.padding-10 {
	padding: 10px;
}

.floatleft, .alignleft {
    float: left;
    margin-right: 15px;
}


.highlights {
	h1{
	  small {
	  	color: $black;
	  	font-family: $font-subhead;
	  }		
	}
}

/*********************
LINK STYLES
*********************/
a, a:visited {
	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

#inner-content a, #inner-content-2 a {
	border-bottom: .125em dotted;
	border-bottom-color: rgba(0,0,0,.1);
		&:hover, &:focus {
			color: $black;
			border-bottom-color: $primary-color;
			border-bottom-style: solid;
		}
}


.breadcrumbs li {
	font-size: 14px;
	 a {
	 	color: $primary-color;
	 	&:hover, &:focus {
			border: none !important;
		}
	 }
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1, .page-title, .entry-title.single-title {
	font-size: 2rem;
} 


h2, .h2 {
font-size: 1.8rem;
line-height: 1.3;
}

h3, .h3 {
font-size: 1.6rem;
line-height: 1.25;
}

h4, .h4 {
font-size: 1.4rem;
line-height: 1.2;
}

h5, .h5 {
font-size: 1.2rem;
}



.article-header {
	h1.entry-title.single-title {
		font-size: 1.5rem;
	}
}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}

.header {
	background: $primary-color;
	 .logo{
		width: 222px;
    	height: 142px;
    	padding-top: 7px;
	 }
	 img.centered {
	 	 display: block;
    margin-left: auto;
    margin-right: auto
	 }
	 h1 {
    	@include breakpoint(medium) {
		 	font-size: 2rem;
	    	line-height: 1.1em;
    	}
    	@include breakpoint(large) {
		 	font-size: 2.35rem;
	    	line-height: 1.1em;
	    	margin-top:3.4rem;
    	}
		 	small {
		 		font-size: 50%;
			 	color: #fff;
			 	margin-bottom: 1px;
			 	display: block;
		    	line-height: 1em;
		 	}
		 	a, a:visited {
		 		color: #fff;
					&:hover, &:focus {
						color: #fff;
					}
		 	}
	}
}

.mobile-logo {
  position: relative;
  margin: 0 auto;
  img {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  a {
    margin-top: 0;
  }
  &:hover {
  background: none;
  }
}

#mobile-nav {
   h1 {
   	text-align: center;
   }
}

/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	background-color: black!important;
    background-position: top;
    z-index: 1 !important;
	.title-area {
		z-index: 1;
	}
	ul {
		float:right;
		font-weight: 600;
		background-color: transparent;
		li {
			background-color: transparent;
			a, a:visited {
				border-bottom: 0px;
				color: #fff;
					&:hover, &:focus {
						color: #fff;
					}
			}
		}
	}
	input {
		margin-right: inherit;
	}
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
    border-color: transparent transparent transparent #fff;
}


.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

.offset-gutter {
	margin-left: -20px;
    margin-right: -20px;
    zoom: 1;
}

#search-bar {
  background: #333;
  border-radius: 10px;
  color: #ccc;
  text-transform: uppercase;
  font-family: 'quadon', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  margin-bottom: -30px;
  .columns {
    padding: 0;
  }
  a {
    color: #FFF;
    font-size: 9px;
    letter-spacing: 1px;
  }
  .links {
    margin-top: inherit;
  }
}


.links li {
  list-style: none;
  display: inline;
  &:after {
    content: " | ";
  }
  &:last-child:after {
    content: "";
  }
}

#search-bar input {
  &[type="text"] {
    height: 31px;
    margin-bottom: 0px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: inline;
    float: left;
    width: 87%;
    border: none;
  }
  &[type="submit"] {
    background: #666;
    height: 31px;
    width: 30px;
    font-family: 'flagship-icon';
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    font-size: 16px;
    border: none;
    float: left;
    padding: 0;
    color: #ccc;
    margin-left: -15px;
  }
}

#sponsored {
	h3 {
		small {
			color: $black;
		}
	}
}

a.off-canvas-submenu-call {
  border: none !important;
  color: #2c2c33 !important;
   span {
    padding-left: 10px
   }
}

.off-canvas-submenu li {
  margin-left: 20px;
}

.o-content a {
  border-bottom: .125em dotted;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  font-size: 15.5px;
  &:hover, &:active {
    color: #2C2C33;
    border-bottom-style: solid;
  }
  &.button {
    border-bottom: none;
    color: #fff;
  }
}

.offcanvas-top {
  position: relative;
  overflow: hidden;
  height: 3.2em;
  transition: height 0.5s ease-out;
  &.active {
    height: 258px;
    background-color: #fff;
  }
}

.o-content {
  width: 100%;
  position: absolute;
  padding: 1em 1em 2.5em;
  display: none;
  h1, h2, li {
    color: #2c2c33 !important;
  }
  h1, h2 {
    font-size: .96rem !important;
    margin-top: inherit;
  }
}

#global-links {
    margin-left: 16px;
}

.crumbs li {
  a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid #000;
  }
  &:last-child a {
    border-bottom: 0;
  }
}

#trigger {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: .9rem;
  margin-right: 16px;
}


#pattern {
	background: #000;
}

.dropdown.menu .submenu {
	background: $primary-color;
}

/*********************
POSTS & CONTENT STYLES
*********************/

.brown-bg {
	background: #d9c89e;
 	background: rgba(217, 200, 158, 0.5);
}

.gray-bg {
	background: $gray;
}

.news-feed, .events-feed {
  padding: 10px;
  	h1 {
	  font-size: 1.5rem;
	  &.entry-title {
	    font-size: 1.25rem;
	    font-family: $font-subhead;
	  }
	}
   h2 {
		font-size: 1.25rem;
		font-family: $font-subhead;
   }
}

.intro p {
    margin-bottom: 22px;
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.4;
}

#content {
	#inner-content {
		padding: 1rem 0rem;
	}
}

.hero {
	background: $gray;
}

#caption {
	@include breakpoint (medium) {
		margin-top: 4em;
	}
}

.single-title,
.page-title {

}

.single-title {

}

.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta
.byline {
	color: $black;
	margin-bottom: 0;
	time {}
}

// Entry content
.entry-content {

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

}

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

.pagination {
  padding: 20px 0;
  font-size: .75rem;
  line-height: 1.1;
  a {
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    color: $white !important;
    background: $black;
    &:hover {
      color: $white;
      background: $primary-color;
    }
  }
  .current {
    padding: 6px 9px 5px 9px;
    background: $primary-color;
    color: $white;
  }
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard


	// comment meta
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content

	// comment reply link
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {

		}

	} // end .commentlist .comment-reply-link

} // end .commentlist

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button
#submit {}

// comment form title
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link
#cancel-comment-reply {
	a {}
}

// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	padding: 0px 20px 1px 20px;
		@include breakpoint (medium) {
			margin-bottom: 25px;
		}
		h5 {
			padding-left:20px;
			margin-top:0;
			margin-bottom:0;
			color: $gray;
			 a {
			 	color: #fff;
			 }
		}
		h6 {
			margin-bottom:7px;
			color:#000;
		}
}

.sidebar-nav, .ecpt-page-sidebar {
	background: #d9c89e;
  	background: rgba(217, 200, 158, 0.5);
  	padding: 0px 20px 1px 20px;
		@include breakpoint (large) {
			margin-bottom: 25px;	
		}
		h4 {
			font-size: 1.25rem;
			padding-left:20px;
			margin-top:0;
			margin-bottom:0;
			color: $gray;
			 a {
			 	color: #fff;
			 }
		}
		h5 {
			margin-bottom:7px;
			color:#000;
		}
		p {
			padding-top: 10px;
		}
}

#sidebar_header {
	padding:12px 15px 10px 0;
	background: $primary-color;
	a:hover {
	color:white;
	}
}

.sidebar.sidebar-right {
	padding-top:0;
	background: $gray;
}


.sidebar_bg ul.nav li a,.sidebar li a {
	font-family: 'gentona-book', Arial, sans-serif;
	color: $primary-color;
}

#searchsubmit {
}

.widgettitle{
	color: $primary-color;
}

.widget_title {
	padding: 12px 15px 10px 0;
    background: $primary-color;
}

.widget {
	background: $gray;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 25px;
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting
			ul {}

		}
	}
}

.textwidget {
	padding: 10px;
	line-height: 1.4;
	font-size: 16px;
	ul {
		margin-left: 1.25rem;
		li {
			list-style: inherit;
			line-height: 1.4;
		}
	}
}
/*********************
FOOTER STYLES
*********************/
footer {
	background: $black;
}
.footer {
  clear: both;
  margin-top: 1em;
  padding-top: 25px;
	a, a:visited {
	color: #CCC;
	    &:hover, &:focus {
			color: #ccc;
	    }
	}
}

.inline-list li a {
  color: #CCC;
}

#social-media {
  margin-top: 9px;
  a {
    content: none;
    color: #2c2c33;
    background: #555;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    font-size: 18px;
    &:hover {
      color: #2c2c33;
      background: #CCC;
    }
  }
}

#menu-footer-links {
  margin-top: 15px;
  a {
    font-size: 12px;
  }
}

#copyright {
  clear: left;
  p {
    text-align: center;
    font-size: 12px;
    color: #CCC;
    margin: 20px 0 0;
  }
}

#fields_search {
  fieldset {
    background: #d9c89e;
    background: rgba(217, 200, 158, 0.3);
    padding: 15px;
    border: none;
  }
  h6 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6px;
  }
  input {
    &[type="text"] {
      height: 40px;
      margin-bottom: 10px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      display: inline;
      float: left;
      width: 80%;
      background: #4a484c;
      color: #ccc;
      font-family: 'quadon', Arial, sans-serif;
      font-size: 16px;
      border: none;
    }
    &[type="submit"] {
      background: #2c2c33;
      height: 40px;
      width: 45px;
      font-family: 'flagship-icon';
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      font-size: 26px;
      border: none;
      float: left;
      padding: 0;
      color: #ccc;
      margin-left: 10px;
    }
  }
}

.department-links {
	h3 {
		color: #fff;
	}
	ul li {
		font-size: 14px;
		line-height: 1.5em;
		height: auto;
	}
}

/*********************
FOUNDATION STYLES
*********************/

.callout.primary {
    background: #d9c89e;
    background: rgba(217,200,158,.5);
}

.accordion-title {
	font-size: 16px;
	font-weight: bold;
	background: #f6f6f6;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

li.person {
  margin-bottom: 1.25rem;
  min-height: 95px;
  padding-left: 20px;
  padding-top: 3px;
  list-style: none;
}

#directory li.person.sub-head {
  min-height: 1px;
  margin-bottom: 0;
  background: none;
  padding: 0;
}

li.person {
  &.sub-head h2 {
    font-size: 1.75rem;
    margin: 0 0 10px 0;
    color: $black;
  }
  img {
    max-width: 150px;
    clear: left;
    float: left;
    margin-right: 1rem;
  }
  h3 {
  	font-size: 1.5rem;
  }
  h4{
  	font-size: 1.125rem;
  }
}

footer.timely.ai1ec-event-footer {
    background: inherit;
}

.timely p {
  font-size: 16px;
  font-family: $font-stack !important;
}

.ai1ec-event-time, span.ai1ec-event-title, .ai1ec-event-details, .ai1ec-event-location {
  font-family: $font-subhead !important;
}

.ai1ec-agenda-view .ai1ec-event .ai1ec-event-time {
  opacity: 1;
  font-weight: inherit;
}

.ai1ec-agenda-widget-view .ai1ec-date, .ai1ec-agenda-widget-view .ai1ec-date.ai1ec-today,{
  background: none !important;
}

.ai1ec-agenda-view .ai1ec-date.ai1ec-today {
  border-top: none !important;
  background: none !important;
}

.timely {
  font-family: inherit !important;
}

.ai1ec-agenda-widget-view {
  .ai1ec-event {
    .ai1ec-event-time, > a {
      color: $black !important;
    }
  }
  .ai1ec-month {
    background: $primary-color !important;
  }
}

.ai1ec-agenda-view .ai1ec-month {
  background: $primary-color !important;
}

.ai1ec-agenda-widget-view .ai1ec-event .ai1ec-event-title, .ai1ec-agenda-view .ai1ec-event .ai1ec-event-title {
  color: $primary-color !important;
}

.entry-content .timely a:hover, .comment-content .timely a:hover, .site-footer .widget .timely a:hover, .entry-content .timely a:visited, .comment-content .timely a:visited, .site-footer .widget .timely a:visited, .ai1ec-agenda-view .ai1ec-event:hover .ai1ec-event-title {
  color: $black !important;
}

#calendar_section {
  margin-bottom: 10px;
}

.events-feed {
	.ai1ec-time, .ai1ec-location {
    font-size: 1rem;
}
}

.events-feed {
  .ai1ec-agenda-view {
    .ai1ec-date {
      background: none;
    }
    .ai1ec-event {
      border: none;
    }
  }
  .ai1ec-pagination, .ai1ec-subscribe-container, .ai1ec-clearfix, .ai1ec-title-buttons.ai1ec-btn-toolbar, .ai1ec-calendar-toolbar, span.ai1ec-categories {
    display: none;
  }
  .ai1ec-event-time, .ai1ec-event-location {
    font-size: 1rem !important;
  }
  .ai1ec-event-title {
    font-size: 1.25rem !important;
  }
  .timely .ai1ec-btn-default {
    background: $primary-color;
    color: #fff;
    &:hover {
      border-bottom-color: #adadad !important;
    }
  }
}
